.upGradeList-rewardList +.upGradeList-rewardList{
	margin-top:15px;
}
.upGradeList-rewardList .tableBox .table{
	display:table;
	border: 1px solid #ddd;
	text-align:center;
	border-collapse: collapse;
	width:100%;
}
.upGradeList-rewardList .tableBox .table-row{
	display:table-row;
}
.upGradeList-rewardList .tableBox .table-cell{
	display: table-cell;
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding:5px 0;
	color:#333;
}