
.Xzp-treeselect-helper-zoom-effect-off {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}
/**
 * Animations
 */
@-webkit-keyframes Xzp-treeselect-animation-fade-in {
  0% {
    opacity: 0;
  }
}
@keyframes Xzp-treeselect-animation-fade-in {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes Xzp-treeselect-animation-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes Xzp-treeselect-animation-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes Xzp-treeselect-animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes Xzp-treeselect-animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/**
 * Transitions
 */
.Xzp-treeselect__multi-value-item--transition-enter-active,
.Xzp-treeselect__multi-value-item--transition-leave-active {
  transition-duration: 200ms;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.Xzp-treeselect__multi-value-item--transition-enter-active {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Xzp-treeselect__multi-value-item--transition-leave-active {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
}
.Xzp-treeselect__multi-value-item--transition-enter,
.Xzp-treeselect__multi-value-item--transition-leave-to {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
}
.Xzp-treeselect__multi-value-item--transition-move {
  transition: 200ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 200ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 200ms transform cubic-bezier(0.165, 0.84, 0.44, 1), 200ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Xzp-treeselect__menu--transition-enter-active,
.Xzp-treeselect__menu--transition-leave-active {
  /* to be overriden */
}
.Xzp-treeselect__menu--transition-enter,
.Xzp-treeselect__menu--transition-leave-to {
  /* to be overriden */
}
.Xzp-treeselect__list--transition-enter-active,
.Xzp-treeselect__list--transition-leave-active {
  /* to be overriden */
}
.Xzp-treeselect__list--transition-enter,
.Xzp-treeselect__list--transition-leave-to {
  /* to be overriden */
}
/**
 * Namespace
 */
.Xzp-treeselect {
  position: relative;
  text-align: left;
}
.Xzp-treeselect div,
.Xzp-treeselect span {
  box-sizing: border-box;
}
.Xzp-treeselect svg {
  fill: currentColor;
}
/**
 * Control
 */
.Xzp-treeselect__control {
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  transition-duration: 200ms;
  transition-property: border-color, box-shadow, width, height, background-color, opacity;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Xzp-treeselect:not(.Xzp-treeselect--disabled):not(.Xzp-treeselect--focused) .Xzp-treeselect__control:hover {
  border-color: #cfcfcf;
}
.Xzp-treeselect--focused:not(.Xzp-treeselect--open) .Xzp-treeselect__control {
  border-color: #039BE5;
  box-shadow: 0 0 0 3px rgba(3, 155, 229, 0.1);
}
.Xzp-treeselect--disabled .Xzp-treeselect__control {
  background-color: #f9f9f9;
}
.Xzp-treeselect--open .Xzp-treeselect__control,
.Xzp-treeselect__control:hover {
  border-color: #cfcfcf;
}
.Xzp-treeselect--open.Xzp-treeselect--open-below .Xzp-treeselect__control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.Xzp-treeselect--open.Xzp-treeselect--open-above .Xzp-treeselect__control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.Xzp-treeselect__value-container,
.Xzp-treeselect__multi-value {
  width: 100%;
  vertical-align: middle;
}
.Xzp-treeselect__value-container {
  display: table-cell;
  position: relative;
}
.Xzp-treeselect--searchable:not(.Xzp-treeselect--disabled) .Xzp-treeselect__value-container {
  cursor: text;
}
.Xzp-treeselect__multi-value {
  display: inline-block;
}
.Xzp-treeselect--has-value .Xzp-treeselect__multi-value {
  margin-bottom: 5px;
}
.Xzp-treeselect__placeholder,
.Xzp-treeselect__single-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.Xzp-treeselect__placeholder {
  color: #BDBDBD;
}
.Xzp-treeselect__single-value {
  color: #333;
}
.Xzp-treeselect--focused.Xzp-treeselect--searchable .Xzp-treeselect__single-value {
  color: #BDBDBD;
}
.Xzp-treeselect__multi-value-item-container {
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  vertical-align: top;
}
.Xzp-treeselect__multi-value-item {
  display: inline-table;
  background: #E3F2FD;
  padding: 2px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #039BE5;
  font-size: 12px;
  vertical-align: top;
}
.Xzp-treeselect:not(.Xzp-treeselect--disabled) .Xzp-treeselect__multi-value-item:not(.Xzp-treeselect__multi-value-item-disabled):hover {
  cursor: pointer;
  background: #E3F2FD;
  color: #039BE5;
}
.Xzp-treeselect__multi-value-item.Xzp-treeselect__multi-value-item-disabled {
  cursor: default;
  background: #F5F5F5;
  color: #757575;
}
.Xzp-treeselect--disabled .Xzp-treeselect__multi-value-item {
  cursor: default;
  background: #fff;
  border-color: #e5e5e5;
  color: #555;
}
.Xzp-treeselect__value-remove,
.Xzp-treeselect__multi-value-label {
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
}
.Xzp-treeselect__value-remove {
  cursor: pointer;
  color: #039BE5;
  padding-left: 5px;
  border-left: 1px solid #fff;
  line-height: 0;
}
.Xzp-treeselect__multi-value-item:hover .Xzp-treeselect__value-remove {
  color: #E53935;
}
.Xzp-treeselect--disabled .Xzp-treeselect__value-remove,
.Xzp-treeselect__multi-value-item-disabled .Xzp-treeselect__value-remove {
  display: none;
}
.Xzp-treeselect__value-remove > svg {
  width: 6px;
  height: 6px;
}
.Xzp-treeselect__multi-value-label {
  padding-right: 5px;
  white-space: pre-line;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Xzp-treeselect__limit-tip {
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  vertical-align: top;
}
.Xzp-treeselect__limit-tip-text {
  cursor: default;
  display: block;
  margin: 2px 0;
  padding: 1px 0;
  color: #BDBDBD;
  font-size: 12px;
  font-weight: 600;
}
.Xzp-treeselect__input-container {
  display: block;
  max-width: 100%;
  outline: none;
}
.Xzp-treeselect--single .Xzp-treeselect__input-container {
  font-size: inherit;
  height: 100%;
}
.Xzp-treeselect--multi .Xzp-treeselect__input-container {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}
.Xzp-treeselect--searchable .Xzp-treeselect__input-container {
  padding-left: 5px;
  padding-right: 5px;
}
.Xzp-treeselect--searchable.Xzp-treeselect--multi.Xzp-treeselect--has-value .Xzp-treeselect__input-container {
  padding-top: 5px;
  padding-left: 0;
}
.Xzp-treeselect--disabled .Xzp-treeselect__input-container {
  display: none;
}
.Xzp-treeselect__input,
.Xzp-treeselect__sizer {
  margin: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
.Xzp-treeselect__input {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: content-box;
  box-shadow: none;
  background: none transparent;
  line-height: 1;
  vertical-align: middle;
}
.Xzp-treeselect__input::-ms-clear {
  display: none;
}
.Xzp-treeselect--single .Xzp-treeselect__input {
  width: 100%;
  height: 100%;
}
.Xzp-treeselect--multi .Xzp-treeselect__input {
  padding-top: 3px;
  padding-bottom: 3px;
}
.Xzp-treeselect--has-value .Xzp-treeselect__input {
  line-height: inherit;
  vertical-align: top;
}
.Xzp-treeselect__sizer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
}
.Xzp-treeselect__x-container {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
  color: #ccc;
  -webkit-animation: 200ms Xzp-treeselect-animation-fade-in cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: 200ms Xzp-treeselect-animation-fade-in cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Xzp-treeselect__x-container:hover {
  color: #E53935;
}
.Xzp-treeselect__x {
  width: 8px;
  height: 8px;
}
.Xzp-treeselect__control-arrow-container {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}
.Xzp-treeselect--disabled .Xzp-treeselect__control-arrow-container {
  cursor: default;
}
.Xzp-treeselect__control-arrow {
  width: 9px;
  height: 9px;
  color: #ccc;
}
.Xzp-treeselect:not(.Xzp-treeselect--disabled) .Xzp-treeselect__control-arrow-container:hover .Xzp-treeselect__control-arrow {
  color: #616161;
}
.Xzp-treeselect--disabled .Xzp-treeselect__control-arrow {
  opacity: 0.35;
}
.Xzp-treeselect__control-arrow--rotated {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
/**
 * Menu
 */
.Xzp-treeselect__menu {
  cursor: default;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #cfcfcf;
  background: #fff;
  line-height: 180%;
  -webkit-overflow-scrolling: touch;
}
.Xzp-treeselect--open-below .Xzp-treeselect__menu {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 100%;
  margin-top: -1px;
  border-top-color: #f2f2f2;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Xzp-treeselect--open-above .Xzp-treeselect__menu {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 100%;
  margin-bottom: -1px;
  border-bottom-color: #f2f2f2;
}
.Xzp-treeselect__indent-level-0 .Xzp-treeselect__option {
  padding-left: 5px;
}
.Xzp-treeselect__indent-level-0 .Xzp-treeselect__tip {
  padding-left: 25px;
}
.Xzp-treeselect__indent-level-1 .Xzp-treeselect__option {
  padding-left: 25px;
}
.Xzp-treeselect__indent-level-1 .Xzp-treeselect__tip {
  padding-left: 45px;
}
.Xzp-treeselect__indent-level-2 .Xzp-treeselect__option {
  padding-left: 45px;
}
.Xzp-treeselect__indent-level-2 .Xzp-treeselect__tip {
  padding-left: 65px;
}
.Xzp-treeselect__indent-level-3 .Xzp-treeselect__option {
  padding-left: 65px;
}
.Xzp-treeselect__indent-level-3 .Xzp-treeselect__tip {
  padding-left: 85px;
}
.Xzp-treeselect__indent-level-4 .Xzp-treeselect__option {
  padding-left: 85px;
}
.Xzp-treeselect__indent-level-4 .Xzp-treeselect__tip {
  padding-left: 105px;
}
.Xzp-treeselect__indent-level-5 .Xzp-treeselect__option {
  padding-left: 105px;
}
.Xzp-treeselect__indent-level-5 .Xzp-treeselect__tip {
  padding-left: 125px;
}
.Xzp-treeselect__indent-level-6 .Xzp-treeselect__option {
  padding-left: 125px;
}
.Xzp-treeselect__indent-level-6 .Xzp-treeselect__tip {
  padding-left: 145px;
}
.Xzp-treeselect__indent-level-7 .Xzp-treeselect__option {
  padding-left: 145px;
}
.Xzp-treeselect__indent-level-7 .Xzp-treeselect__tip {
  padding-left: 165px;
}
.Xzp-treeselect__indent-level-8 .Xzp-treeselect__option {
  padding-left: 165px;
}
.Xzp-treeselect__indent-level-8 .Xzp-treeselect__tip {
  padding-left: 185px;
}
.Xzp-treeselect__option {
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.Xzp-treeselect__option--highlight {
  background: #F5F5F5;
}
.Xzp-treeselect--single .Xzp-treeselect__option--selected {
  background: #E3F2FD;
  font-weight: 600;
}
.Xzp-treeselect--single .Xzp-treeselect__option--selected:hover {
  background: #E3F2FD;
}
.Xzp-treeselect__option--hide {
  display: none;
}
.Xzp-treeselect__option-arrow-container,
.Xzp-treeselect__option-arrow-placeholder {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  line-height: 0;
}
.Xzp-treeselect__option-arrow-container {
  cursor: pointer;
}
.Xzp-treeselect__option-arrow {
  display: inline-block;
  width: 9px;
  height: 9px;
  color: #ccc;
  vertical-align: middle;
  transition: 200ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: 200ms transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: 200ms transform cubic-bezier(0.19, 1, 0.22, 1), 200ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotateZ(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotateZ(-90deg);
}
.Xzp-treeselect__option-arrow-container:hover .Xzp-treeselect__option-arrow,
.Xzp-treeselect--branch-nodes-disabled .Xzp-treeselect__option:hover .Xzp-treeselect__option-arrow {
  color: #616161;
}
.Xzp-treeselect__option-arrow--rotated {
  -webkit-transform: rotateZ(0);
      -ms-transform: rotate(0);
          transform: rotateZ(0);
}
.Xzp-treeselect__option-arrow--rotated.Xzp-treeselect__option-arrow--prepare-enter {
  -webkit-transform: rotateZ(-90deg) !important;
      -ms-transform: rotate(-90deg) !important;
          transform: rotateZ(-90deg) !important;
}
.Xzp-treeselect__label-container {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  display: table;
  width: 100%;
  table-layout: fixed;
  color: inherit;
}
.Xzp-treeselect__option--disabled .Xzp-treeselect__label-container {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.Xzp-treeselect__checkbox-container {
  display: table-cell;
  width: 20px;
  min-width: 20px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.Xzp-treeselect__checkbox {
  display: block;
  margin: auto;
  width: 12px;
  height: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  position: relative;
  transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Xzp-treeselect__check-mark,
.Xzp-treeselect__minus-mark {
  display: block;
  position: absolute;
  left: 1px;
  top: 1px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 200ms all ease;
}
.Xzp-treeselect__minus-mark {
  width: 8px;
  height: 8px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAACVBMVEUAAAD///////9zeKVjAAAAAnRSTlMAuLMp9oYAAAAPSURBVAjXY4CDrJUgBAMAGaECJ9dz3BAAAAAASUVORK5CYII=);
  background-size: 8px 8px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .Xzp-treeselect__minus-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///////////84wDuoAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Xzp-treeselect__minus-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///////////84wDuoAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .Xzp-treeselect__minus-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAD1BMVEUAAAD///////////////+PQt5oAAAABHRSTlMAy2EFIuWxUgAAACRJREFUGNNjGBBgJOICBY7KDCoucODEAJSAS6FwUJShGjAQAADBPRGrK2/FhgAAAABJRU5ErkJggg==);
  }
}
.Xzp-treeselect__checkbox--indeterminate > .Xzp-treeselect__minus-mark {
  opacity: 1;
}
.Xzp-treeselect__checkbox--disabled .Xzp-treeselect__minus-mark {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAACVBMVEUAAADi4uLh4eHOxeSRAAAAAnRSTlMAuLMp9oYAAAAPSURBVAjXY4CDrJUgBAMAGaECJ9dz3BAAAAAASUVORK5CYII=);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .Xzp-treeselect__checkbox--disabled .Xzp-treeselect__minus-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADi4uLi4uLh4eE5RQaIAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Xzp-treeselect__checkbox--disabled .Xzp-treeselect__minus-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADi4uLi4uLh4eE5RQaIAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .Xzp-treeselect__checkbox--disabled .Xzp-treeselect__minus-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAD1BMVEUAAADh4eHg4ODNzc3h4eEYfw2wAAAABHRSTlMAy2EFIuWxUgAAACRJREFUGNNjGBBgJOICBY7KDCoucODEAJSAS6FwUJShGjAQAADBPRGrK2/FhgAAAABJRU5ErkJggg==);
  }
}
.Xzp-treeselect__check-mark {
  width: 8px;
  height: 8px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMA8u24NxILB+Tawb6jiH1zRz0xIQIIP3GUAAAAMklEQVQI1y3FtQEAMQDDQD+EGbz/qkEVOpyEOP6PudKjZNSXn4Jm2CKRdBKzSLsFWl8fMG0Bl6Jk1rMAAAAASUVORK5CYII=);
  background-size: 8px 8px;
  -webkit-transform: scaleY(0.125);
      -ms-transform: scaleY(0.125);
          transform: scaleY(0.125);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .Xzp-treeselect__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAYFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98JRy6AAAAH3RSTlMAzu4sDenl38fBvo1OMyIdEQrj1cSihX5hYFpHNycIcQOASAAAAF9JREFUGNN9zEcOgDAMRFHTS0LvNfe/JRmHKAIJ/mqeLJn+k9uDtaeUeFnFziGsBucUTirrprfe81RqZ3Bb6hPWeuZwDFOHyf+ig9CCzQ7INBn7bG5kF+QSt13BHNJnF7AaCT4Y+CW7AAAAAElFTkSuQmCC);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Xzp-treeselect__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAYFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98JRy6AAAAH3RSTlMAzu4sDenl38fBvo1OMyIdEQrj1cSihX5hYFpHNycIcQOASAAAAF9JREFUGNN9zEcOgDAMRFHTS0LvNfe/JRmHKAIJ/mqeLJn+k9uDtaeUeFnFziGsBucUTirrprfe81RqZ3Bb6hPWeuZwDFOHyf+ig9CCzQ7INBn7bG5kF+QSt13BHNJnF7AaCT4Y+CW7AAAAAElFTkSuQmCC);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .Xzp-treeselect__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAWlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZMre9AAAAHXRSTlMA/PiJhGNI9XlEHJB/b2ldV08+Oibk49vPp6QhAYgGBuwAAACCSURBVCjPrdHdDoIwDAXgTWAqCigo/+f9X5OwnoUwtis4V92XNWladUl+rzQPeQJAN2EHxoOnsPn7/oYk8fxBv08Rr/deOH/aZ2Nm8ZJ+s573QGfWKnNuZGzWm3+lv2V3pcU1XQ385/yjmBoM3Z+dXvlbYLLD3ujhTaOM3KaIXvNkFkuSEvYy1LqOAAAAAElFTkSuQmCC);
  }
}
.Xzp-treeselect__checkbox--checked > .Xzp-treeselect__check-mark {
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.Xzp-treeselect__checkbox--disabled .Xzp-treeselect__check-mark {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAP1BMVEUAAADj4+Pf39/h4eHh4eHh4eHk5OTh4eHg4ODi4uLh4eHh4eHg4ODh4eHh4eHg4ODh4eHh4eHp6en////h4eFqcyvUAAAAFHRSTlMAOQfy7bgS5NrBvqOIfXNHMSELAgQ/iFsAAAA2SURBVAjXY4AANjYIzcjMAaVFuBkY+RkEWERYmRjYRXjANAOfiIgIFxNIAa8IpxBEi6AwiAQAK2MBd7xY8csAAAAASUVORK5CYII=);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .Xzp-treeselect__checkbox--disabled .Xzp-treeselect__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAXVBMVEUAAADh4eHh4eHh4eHi4uLb29vh4eHh4eHh4eHh4eHh4eHh4eHh4eHi4uLi4uLj4+Pi4uLk5OTo6Ojh4eHh4eHi4uLg4ODg4ODh4eHg4ODh4eHf39/g4OD////h4eEzIk+wAAAAHnRSTlMAzu6/LA3p5eLZx8ONTjYiHRIKooV+YWBaRzEnCANnm5rnAAAAZElEQVQY033P2wqAIAyA4VWaaWrnc/n+j5mbhBjUf7WPoTD47TJb4i5zTr/sRDRHuyFaoWX7uK/RlbctlPEuyI1f4WY9yQINEkf6rzzo8YIzmUFoCs7J1EjeIaa9bXIEmzl8dgOZEAj/+2IvzAAAAABJRU5ErkJggg==);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Xzp-treeselect__checkbox--disabled .Xzp-treeselect__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAXVBMVEUAAADh4eHh4eHh4eHi4uLb29vh4eHh4eHh4eHh4eHh4eHh4eHh4eHi4uLi4uLj4+Pi4uLk5OTo6Ojh4eHh4eHi4uLg4ODg4ODh4eHg4ODh4eHf39/g4OD////h4eEzIk+wAAAAHnRSTlMAzu6/LA3p5eLZx8ONTjYiHRIKooV+YWBaRzEnCANnm5rnAAAAZElEQVQY033P2wqAIAyA4VWaaWrnc/n+j5mbhBjUf7WPoTD47TJb4i5zTr/sRDRHuyFaoWX7uK/RlbctlPEuyI1f4WY9yQINEkf6rzzo8YIzmUFoCs7J1EjeIaa9bXIEmzl8dgOZEAj/+2IvzAAAAABJRU5ErkJggg==);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .Xzp-treeselect__checkbox--disabled .Xzp-treeselect__check-mark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAUVBMVEUAAADh4eHh4eHh4eHh4eHi4uLi4uLh4eHh4eHh4eHf39/j4+Ph4eHh4eHh4eHg4ODi4uLh4eHh4eHi4uLh4eHh4eHh4eHh4eHh4eH////h4eF3FMFTAAAAGnRSTlMA+/eJhGhfSHE9JBzz5KaQf3pXT0Xbz0I5AYDw8F0AAAB+SURBVCjPrdHbDoMgEEVRKAii1dZe9fz/hxplTiKIT7qfYCWTEEZdUvOwbckNAD2WHeh3brHW5f5EzGQ+iN+b1Gt6KPvtv16Dn6JX9M9ya3/A1yfu5dlyduL6Hec7mXY6ddXLPP2lpABGZ8PWXfYLTJxZekVhhl7eTX24zZPNKXoRC7zQLjUAAAAASUVORK5CYII=);
  }
}
.Xzp-treeselect__checkbox--unchecked {
  border-color: #E0E0E0;
  background: #fff;
}
.Xzp-treeselect__label-container:hover .Xzp-treeselect__checkbox--unchecked {
  border-color: #039BE5;
  background: #fff;
}
.Xzp-treeselect__checkbox--indeterminate {
  border-color: #039BE5;
  background: #039BE5;
}
.Xzp-treeselect__label-container:hover .Xzp-treeselect__checkbox--indeterminate {
  border-color: #039BE5;
  background: #039BE5;
}
.Xzp-treeselect__checkbox--checked {
  border-color: #039BE5;
  background: #039BE5;
}
.Xzp-treeselect__label-container:hover .Xzp-treeselect__checkbox--checked {
  border-color: #039BE5;
  background: #039BE5;
}
.Xzp-treeselect__checkbox--disabled {
  border-color: #E0E0E0;
  background-color: #f7f7f7;
}
.Xzp-treeselect__label-container:hover .Xzp-treeselect__checkbox--disabled {
  border-color: #E0E0E0;
  background-color: #f7f7f7;
}
.Xzp-treeselect__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: table-cell;
  padding-left: 5px;
  max-width: 100%;
  vertical-align: middle;
  cursor: inherit;
}
.Xzp-treeselect__count {
  font-weight: 400;
  opacity: 0.6;
}
.Xzp-treeselect__tip {
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #757575;
}
.Xzp-treeselect__tip-text {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-left: 5px;
  font-size: 12px;
}
.Xzp-treeselect__error-tip .Xzp-treeselect__retry {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #039BE5;
}
.Xzp-treeselect__icon-container {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  line-height: 0;
}
.Xzp-treeselect--single .Xzp-treeselect__icon-container {
  padding-left: 5px;
}
.Xzp-treeselect__icon-warning {
  display: block;
  margin: auto;
  border-radius: 50%;
  position: relative;
  width: 12px;
  height: 12px;
  background: #FB8C00;
}
.Xzp-treeselect__icon-warning::after {
  display: block;
  position: absolute;
  content: "";
  left: 5px;
  top: 2.5px;
  width: 2px;
  height: 1px;
  border: 0 solid #fff;
  border-top-width: 5px;
  border-bottom-width: 1px;
}
.Xzp-treeselect__icon-error {
  display: block;
  margin: auto;
  border-radius: 50%;
  position: relative;
  width: 12px;
  height: 12px;
  background: #E53935;
}
.Xzp-treeselect__icon-error::before,
.Xzp-treeselect__icon-error::after {
  display: block;
  position: absolute;
  content: "";
  background: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.Xzp-treeselect__icon-error::before {
  width: 6px;
  height: 2px;
  left: 3px;
  top: 5px;
}
.Xzp-treeselect__icon-error::after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 3px;
}
.Xzp-treeselect__icon-loader {
  display: block;
  margin: auto;
  position: relative;
  width: 12px;
  height: 12px;
  text-align: center;
  -webkit-animation: 1.6s Xzp-treeselect-animation-rotate linear infinite;
          animation: 1.6s Xzp-treeselect-animation-rotate linear infinite;
}
.Xzp-treeselect__icon-loader::before,
.Xzp-treeselect__icon-loader::after {
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -webkit-animation: 1.6s Xzp-treeselect-animation-bounce ease-in-out infinite;
          animation: 1.6s Xzp-treeselect-animation-bounce ease-in-out infinite;
}
.Xzp-treeselect__icon-loader::before {
  background: #039BE5;
}
.Xzp-treeselect__icon-loader::after {
  background: #B3E5FC;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}


/*# sourceMappingURL=Xzp-treeselect.css.map*/